body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', sans-serif;
    background-color: #ffffff;
}

h1{
    font-size: 2em;
    color: #06c633;
}
h2{
    font-size: 1.5em;
    color: #063cc6;
}
h3{
    position:absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5em;
    color: #c606c6;
}